@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}


/* ========================================
	フロートの解除
========================================= */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



/* ========================================
	全体設計
========================================= */
body {
	color:#555;
	font-size: 14px;
	line-height: 1;
	font-family: "メイリオ", Meiryo;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ========================================
	ラッパー
========================================= */
div#wrapper {
	width: 960px;
	height: auto;
	margin: 0 auto;
}

/* ========================================
	ヘッダー
========================================= */
header {
	width: 960px;
	height: 99px;
	/* background-color: pink; */
}

header h1 {
	width: 213px;
	height: 39px;
	margin-top: 30px;
	float: left;
}

nav {
	float: right;
	margin-top: 56px;
}

nav ul li {
	float: left;
	margin-left: 20px;
}

nav ul li a {
	color: #555555;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

/* ========================================
	メイン画像
========================================= */
div#mainimage {
	width: 960px;
	height: 300px;
	/* background-color: skyblue; */
	margin-bottom: 30px;
}

/* ========================================
	レフト
========================================= */
div#left {
	width: 280px;
	height: auto;
	/* background-color: gray; */
	float: left;
	margin-right: 30px;
}

div#left ul li {
	width: 278px;
	height: 48px;
	background-color: #f5fbff;
	margin-bottom: 10px;
	border: 1px solid #63abd4;
}

div#left ul li a {
	font-size: 16px;
	font-weight: bold;
	color: #555555;
	text-decoration: none;
	line-height: 50px;
	/* background: url(images/icon_tel.png) no-repeat 14px center; */
	display: block;
	padding-left: 50px;
}

a#icon_tel {
	background: url(images/icon_tel.png) no-repeat 14px center;
}

a#icon_blog {
	background: url(images/icon_blog.png) no-repeat 14px center;
}

a#icon_voice {
	background: url(images/icon_voice.png) no-repeat 14px center;
}

/* ========================================
	ライト
========================================= */
div#right {
	width: 650px;
	height: auto;
	/* background-color: red; */
	float: left;
}

div.clearfix {
	clear: both;
}

div#right h2 {
	font-size: 18px;
	font-weight: bold;
	color: #555555;
	margin-bottom: 15px;
}

div#right dt {
	font-size: 12px;
	color: #a8a8a8;
	float: left;
	width: 79px;
	line-height: 40px;
	/* background-color: #f5f5f5; */
	padding-left: 15px;
}

div#right dt:nth-of-type(odd),
div#right dd:nth-of-type(odd) {
	background-color: #f5f5f5;
}

div#right dd {
	font-size: 13px;
	color: #555555;
	float: left;
	width: 541px;
	line-height: 40px;
	padding-left: 15px;
	/* background-color: #f5f5f5; */
}

/* div#right dd:nth-of-type(odd) {
	background-color: #f5f5f5;
} */

/* ========================================
	フッター
========================================= */
footer {
	width: 100%;
	height: auto;
	background-color: #63abd4;
	margin-top: 50px;
}

div#footer_inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	padding: 20px 0;
}

p#pagetop a {
	width: 78px;
	height: 20px;
	background-color: #63abd4;
	text-align: center;
	color: white;
	display: block;
	text-decoration: none;
	line-height: 20px;
	position: absolute;
	top: -20px;
	right: 0;
}

p#footer_logo {
	float: left;
}

footer ul {
	float: right;
	margin-top: 24px;
}

footer ul li {
	float: left;
	margin-left: 20px;
}

footer ul li a {
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
